<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Grp:</strong>
  <%= @episode.grp %>
</p>

<video width="1280" autobuffer="autobuffer" controls="controls" src="<%= @path %>" >
        <track kind="subtitles" srclang="en" src="<%= @subpath %>" default>
</video>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
