<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Grp:</strong>
  <%= @episode.grp %>
</p>

<video autoplay controls >
    <source src="<%= @path %>" type="video/mp4">
</video>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
