<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @show.status %>
</p>
<img alt="Poster" src="<%=@show.poster%>" class="poster">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.name %></td>
        <td><%= link_to 'Show', episode %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
        <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
