<!DOCTYPE html>
<html>
<head>
  <title>Animu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<% if logged_in? %>
<body>
    <%= render 'layouts/header' %>   
<% else %>
<body class="login">
<% end %>
    <div class="container">
    <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    
    <% if logged_in? %>
        <%= yield %>
    <% else %>
        <%= render template: "sessions/new" %>
    <% end %>
    </div>

    </body>
</html>
